@charset "utf-8";
/* CSS Document */

/* COLORS
#240099		med blue (page bg, links)
#FFA800		gold (header)
#B20000		red (titles, active links)
*/


html {overflow:-moz-scrollbars-vertical; overflow-y:scroll;}
a:link, a:visited {color:#3C00FF; text-decoration:none;}
a:hover, a:active {color:#B20000; text-decoration:none;}

body {
	background-image: url(images/bg3.gif);
	background-repeat: repeat; 
	background-color:#240099;
	margin:0;
	padding:0;
	text-align:center;
	font-family:Helvetica, Arial, sans-serif;
	color:#07001f;
}
p {
	padding:0;
	margin:0;
}
.photo {
	float:right;
	margin-top:1em;
	margin-left:2em;
	margin-bottom:1em;
	width:100%
/*	margin-right:-2em; */
}
.title {
	font-size:large;
	font-weight:bold;
	line-height:1em;
	padding-top:0.5em;
	padding-bottom:0.25em;
	color:#B20000;
}
.txt {
	font-size:normal;
	line-height:1.5em;
	padding-bottom:0.5em;
}
.fakefooter {
	clear:both;
}
#container {
	width:900px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:1em;
}
#header {
	/* #17007F */
	background-color:#240099; /*#FFA800;*/
	/*background-image: url(images/bg3.gif);*/
	background-repeat: repeat; 
	font-family:Helvetica, Arial, sans-serif;
	color:#FFF; /*#240099;*/
	padding:0.75em;
	margin-left:0em;
	margin-right:0em;
	margin-top:0.5em;
	margin-bottom:1em;
	border:#FFA800 solid 6px; /*#B20000*/
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
#name {
	font-size:200%;
	font-weight:bold;
	text-align:left;
	float:left;
}
#subt {
	font-size:100%;
	font-weight:bold;
	text-align:right;
/*	float:right; */
}
.content {
	padding-left:1.5em;
	padding-right:1.5em;
	padding-top:0.75em;
	padding-bottom:0.75em;
	margin-bottom:2em;
	text-align:left;
	background-color:#DDDAE7;
	border:#3C00FF solid 6px;
	-webkit-border-radius:15px;
	-moz-border-radius:15px;
	border-radius:15px;
}
#footer {
	background-color:#3C00FF;
	padding-left:2em;
	padding-right:2em;
	text-align:right;
	font-size:10px;
	color:#615c66;
}
#footer a {color:#615c66;}
#footer a {color:#615c66;}
#footer a:hover {color:#ed7700;}
